<a href="https://colab.research.google.com/github/Rhos0129/Movie-Predict/blob/main/%EA%B4%80%EA%B0%9D%EC%88%98.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
%cd /content/drive/MyDrive/moviePredict

/content/drive/MyDrive/moviePredict

## 1. 데이터 탐색
- 데이터 출처 : [캐글의 영화 데이터셋](https://www.kaggle.com/rounakbanik/the-movies-dataset)

  
  ### 영화의 메타데이터

#### 데이터 정리
  - 사용할 변수 선택
  - 중복행은 하나 남기고 제거

In [2]:
import pandas as pd

movie=pd.read_csv('./data/movies_metadata.csv')
movie.head(3)

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

   adult  ... vote_count
0  False  ...     5415.0
1  False  ...     2413.0
2  False  ...       92.0

[3 rows x 24 columns]

In [3]:
movie.columns

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')

In [4]:
movie.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45466 non-null  object
 1   belongs_to_collection  4494 non-null   object
 2   budget                 45466 non-null  object
 3   genres                 45466 non-null  object
 4   homepage               7782 non-null   object
 5   id                     45466 non-null  object
 6   imdb_id                45449 non-null  object
 7   original_language      45455 non-null  object
 8   original_title         45466 non-null  object
 9   overview               44512 non-null  object
 10  popularity             45461 non-null  object
 11  poster_path            45080 non-null  object
 12  production_companies   45463 non-null  object
 13  production_countries   45463 non-null  object
 14  release_date           45379 non-null  object
 15  revenue                45460 non-null  float64
 16  runtime                45203 non-null  float64
 17  spoken_languages       45460 non-null  object
 18  status                 45379 non-null  object
 19  tagline                20412 non-null  object
 20  title                  45460 non-null  object
 21  video                  45460 non-null  object
 22  vote_average           45460 non-null  float64
 23  vote_count             45460 non-null  float64
dtypes: float64(4), object(20)
memory usage: 8.3+ MB

In [5]:
# 사용할 변수 선택
movie = movie[['id', 'original_title', 'original_language','release_date','genres', 'popularity', 'vote_average', 'vote_count', 'budget', 'revenue']]
movie = movie.rename(columns={
    'original_title':'title',
    'original_language':'language',
    })
movie.head(3)

      id             title language  ... vote_count    budget      revenue
0    862         Toy Story       en  ...     5415.0  30000000  373554033.0
1   8844           Jumanji       en  ...     2413.0  65000000  262797249.0
2  15602  Grumpier Old Men       en  ...       92.0         0          0.0

[3 rows x 10 columns]

In [6]:
# 중복행은 하나 남기고 제거
movie=movie.drop_duplicates()
movie.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 45453 entries, 0 to 45465
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            45453 non-null  object
 1   title         45453 non-null  object
 2   language      45442 non-null  object
 3   release_date  45366 non-null  object
 4   genres        45453 non-null  object
 5   popularity    45448 non-null  object
 6   vote_average  45447 non-null  float64
 7   vote_count    45447 non-null  float64
 8   budget        45453 non-null  object
 9   revenue       45447 non-null  float64
dtypes: float64(3), object(7)
memory usage: 3.8+ MB

#### id, title (영화 아이디, 영화제목)
- id는 같으나 컬럼값이 다른 행은 모두 제거

In [7]:
# id는 null값 없음
len(movie[movie['id'].isnull()])

0

In [8]:
# id는 같으나 다른 컬럼값이 존재
len(movie[movie.duplicated(['id'], keep=False)])

34

In [9]:
# 중복 아이디 모두 제거
movie=movie.drop_duplicates(['id'], keep=False)
movie.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 45419 entries, 0 to 45465
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            45419 non-null  object
 1   title         45419 non-null  object
 2   language      45408 non-null  object
 3   release_date  45332 non-null  object
 4   genres        45419 non-null  object
 5   popularity    45414 non-null  object
 6   vote_average  45413 non-null  float64
 7   vote_count    45413 non-null  float64
 8   budget        45419 non-null  object
 9   revenue       45413 non-null  float64
dtypes: float64(3), object(7)
memory usage: 3.8+ MB

In [10]:
# title은 null값 없음
len(movie[movie['title'].isnull()])

0

In [11]:
# 중복되는 영화제목이 많으나.. 제목이 같아도 다른 id를 가졌으므로 데이터 유지
len(movie[movie.duplicated(['title'], keep=False)])

3701

#### language (언어)
- null값, 이상한 값 제거

In [12]:
len(movie[movie['language'].isnull()])

11

In [13]:
# null값 제거
movie=movie[movie['language'].notnull()]

In [14]:
movie['language'].unique(), len(movie['language'].unique())

(array(['en', 'fr', 'zh', 'it', 'fa', 'nl', 'de', 'cn', 'ar', 'es', 'ru',
        'sv', 'ja', 'ko', 'sr', 'bn', 'he', 'pt', 'wo', 'ro', 'hu', 'cy',
        'vi', 'cs', 'da', 'no', 'nb', 'pl', 'el', 'sh', 'xx', 'mk', 'bo',
        'ca', 'fi', 'th', 'sk', 'bs', 'hi', 'tr', 'is', 'ps', 'ab', 'eo',
        'ka', 'mn', 'bm', 'zu', 'uk', 'af', 'la', 'et', 'ku', 'fy', 'lv',
        'ta', 'sl', 'tl', 'ur', 'rw', 'id', 'bg', 'mr', 'lt', 'kk', 'ms',
        'sq', '104.0', 'qu', 'te', 'am', 'jv', 'tg', 'ml', 'hr', 'lo',
        'ay', 'kn', 'eu', 'ne', 'pa', 'ky', 'gl', '68.0', 'uz', 'sm', 'mt',
        '82.0', 'hy', 'iu', 'lb', 'si'], dtype=object), 92)

In [15]:
# 이상한 값 제거
movie=movie[(movie['language']!='68.0')&(movie['language']!='82.0')]

#### rerelease_date (출시일)
- null값과 이상한 값(1, 12, ...) 제거
- 정렬

In [16]:
len(movie[movie['release_date'].isnull()])

87

In [17]:
movie=movie[movie['release_date'].notnull()]
movie=movie.sort_values('release_date')
movie['release_date'].head()

19730             1
34940    1874-12-09
34937    1878-06-14
41602    1883-11-19
34933    1887-08-18
Name: release_date, dtype: object

In [18]:
dates=[]
for date in movie['release_date']:
  try:
    date=pd.to_datetime(date).strftime('%Y%m%d')
  except:
    date=0
  dates.append(date)

len(dates)

45319

In [19]:
movie['release_date']=dates
movie=movie[movie['release_date']!=0]
movie.tail()

           id                       title  ...    budget revenue
44535  412059                Mobile Homes  ...         0     0.0
38130  332283                Mary Shelley  ...         0     0.0
30402   38700           Bad Boys for Life  ...         0     0.0
38885  299782  The Other Side of the Wind  ...  12000000     0.0
26559   76600                    Avatar 2  ...         0     0.0

[5 rows x 10 columns]

In [20]:
movie.info

<bound method DataFrame.info of            id                        title  ...    budget revenue
34940  315946             Passage de Venus  ...         0     0.0
34937  194079   Sallie Gardner at a Gallop  ...         0     0.0
41602  426903              Buffalo Running  ...         0     0.0
34933  159897  Man Walking Around a Corner  ...         0     0.0
34934   96882             Accordion Player  ...         0     0.0
...       ...                          ...  ...       ...     ...
44535  412059                 Mobile Homes  ...         0     0.0
38130  332283                 Mary Shelley  ...         0     0.0
30402   38700            Bad Boys for Life  ...         0     0.0
38885  299782   The Other Side of the Wind  ...  12000000     0.0
26559   76600                     Avatar 2  ...         0     0.0

[45318 rows x 10 columns]>

#### genres (장르)
- 한 영화가 여러 장르일 수 있다.
- 장르 종류 확인

In [21]:
len(movie[movie['genres'].isnull()])

0

In [22]:
# 한 영화가 여러 장르일 수 있다.
movie['genres'].unique()

array(["[{'id': 99, 'name': 'Documentary'}]", '[]',
       "[{'id': 35, 'name': 'Comedy'}]", ...,
       "[{'id': 28, 'name': 'Action'}, {'id': 37, 'name': 'Western'}, {'id': 878, 'name': 'Science Fiction'}, {'id': 14, 'name': 'Fantasy'}, {'id': 27, 'name': 'Horror'}]",
       "[{'id': 35, 'name': 'Comedy'}, {'id': 10402, 'name': 'Music'}, {'id': 10749, 'name': 'Romance'}, {'id': 878, 'name': 'Science Fiction'}]",
       "[{'id': 16, 'name': 'Animation'}, {'id': 12, 'name': 'Adventure'}, {'id': 35, 'name': 'Comedy'}, {'id': 28, 'name': 'Action'}, {'id': 10751, 'name': 'Family'}]"],
      dtype=object)

In [23]:
# 장르 종류 확인
uniqueGenres=[]
for genres in movie['genres']:
  for g in eval(genres):
    if g not in uniqueGenres:
      uniqueGenres.append(g)
  
uniqueGenres

[{'id': 99, 'name': 'Documentary'},
 {'id': 35, 'name': 'Comedy'},
 {'id': 28, 'name': 'Action'},
 {'id': 16, 'name': 'Animation'},
 {'id': 18, 'name': 'Drama'},
 {'id': 36, 'name': 'History'},
 {'id': 27, 'name': 'Horror'},
 {'id': 10749, 'name': 'Romance'},
 {'id': 14, 'name': 'Fantasy'},
 {'id': 10751, 'name': 'Family'},
 {'id': 878, 'name': 'Science Fiction'},
 {'id': 53, 'name': 'Thriller'},
 {'id': 80, 'name': 'Crime'},
 {'id': 12, 'name': 'Adventure'},
 {'id': 10402, 'name': 'Music'},
 {'id': 37, 'name': 'Western'},
 {'id': 10752, 'name': 'War'},
 {'id': 9648, 'name': 'Mystery'},
 {'id': 10769, 'name': 'Foreign'},
 {'id': 10770, 'name': 'TV Movie'}]

#### popularity, vote_average, vote_count (인기도, 평점)

In [24]:
len(movie[movie['popularity'].isnull()])

0

#### budget, revenue : 예산, 수입